<span class="page-title">Publications</span>
<div id="publications">

	<div class="year">2014</div>
	<div class="publication">
		<span class="publication-author">Alison Smith</span>, Sana Malik, and Ben Shneiderman. Visual Analysis of Topical Evolution in Unstructured Text: Design and Evaluation of TopicFlow. Lecture Notes on Social Network Analysis, Springer (2014, to appear).
		<span class="links">[<a href="img/springer-topicflow.pdf">pdf</a>]</span>
	</div>
	<div class="year">2013</div>
	<div class="publication">
		Sana Malik, <span class="publication-author">Alison Smith</span>, Timothy Hawes, Panagis Papadatos, Jianyu Li, Cody Dunne, Ben Shneiderman. TopicFlow: Visualizing Topic Alignment of Twitter Data over Time. In Proceedings of 2013 IEEE/ACM ASONAM, ACM (2013).
		<span class="links">[<a href="">journal</a>]</span>
	</div>
	<div class="publication">
		Yuening Hu, Jordan Boyd-Graber, Brianna Satinoff, and <span class="publication-author">Alison Smith</span>. Interactive Topic Modeling. Machine Learning Journal, Springer (2013).
		<span class="links">[<a href="http://link.springer.com/article/10.1007%2Fs10994-013-5413-0">journal</a>]</span>
	</div>
	<div class="poster">
		Yuening Hu, <span class="publication-author">Alison Smith</span>, Jordan Boyd-Graber. User Study for Interactive Topic Modeling. Women in Machine Learning at NIPS (2013).
		<span class="links">[<a href="img/itm-wiml-poster.pdf">poster</a>]</span>
	</div>
</div>