<span class="page-title">resume</span>
<div id="resume">

	<span class="resume-header">
		<span class="resume-overview">
			<span class="resume-concentrations">
				<span class="resume-concentration">HCI</span>
				<span class="resume-concentration">Information Visualization</span>
				<span class="resume-concentration">Machine Learning</span>
				<span class="resume-concentration">Computational Linguistics</span>
			</span>
			<span class="resume-description">
				 I design user interfaces and visualizations for interacting with complex algorithms and their results. My focus is on enhancing users’ understanding and analysis of data without requiring expertise in data science or machine learning.
			</span>
		</span>
	</span>
	<span class="resume-body">
		<span class="resume-section">
			<span class="resume-section-name">Skills</span>
			<span class="resume-section-body">
				<span class="resume-skill">javascript [jquery, angular, backbone, d3, leaflet]</span>	
				<span class="resume-skill">html/css & sass</span>
				<span class="resume-skill">bower, mongo </span>
				<span class="resume-skill">java, python, c++</span>
			</span>
		</span>
		<span class="resume-section">
			<span class="resume-section-name">Experience</span>
			<span class="resume-section-body">
				<span class="resume-subsection">
					<span class="experience-name">DECISIVE ANALYTICS Corporation</span>
					<span class="experience-position">Lead Engineer, Machine Learning Visualization Lab</span>
					<br />
					<span class="experience-date">June 2009 - Present</span>
					<span class="experience-location">Arlington, VA</span>
					<br />
					<span class="experience-description">
						Designed and developed user interfaces and data visualizations for various technologies including an interface for user interaction with the results of language processing algorithms, allowing an analyst to retrieve meaningful data from large corpora of unstructured text.
					</span>
				</span>
			</span>
		</span>
		<span class="resume-section">
			<span class="resume-section-name">Education</span>
			<span class="resume-section-body">
				<span class="resume-subsection">
					<span class="education-name">University of Maryland, College Park</span>
					<span class="education-degree">PhD Computer Science</span>
					<span class="education-concentration">Human Computer Interaction, Computational Linguistics</span>
					<span class="education-grad-date">In progress</span>
				</span> 
				<span class="resume-subsection">
					<span class="education-name">University of Maryland, College Park</span>
					<span class="education-degree">M.S. Computer Science</span>
					<span class="education-concentration">Human Computer Interaction, Computational Linguistics</span>
					<span class="education-grad-date">May 2014</span>
				</span>
				<span class="resume-subsection">
					<span class="education-name">The College of William and Mary</span>
					<span class="education-degree">B.S. Mathematics</span>
					<span class="education-concentration">Computational Mathematics</span>
					<span class="education-grad-date">May 2009</span>
				</span>
			</span>
		</span>
	</span>
</div>