<div id="portfolio">
<!--	<nav>
            <ul>
                <li id="all">all</li>
                <li id="d3">d3</li>
                <li id="leaflet">leaflet</li>
            </ul>
 
        </nav> -->

	<figure class="d3">
		<a href="#">
		<img src="img/visualign.png" alt="" />		
		<dl>
		<dt>Visualign</dt>
		<dd>interface and visualization of genomic sequence alignment</dd>
		<dt>Technologies</dt>
		<dd>d3, javascript, html5, css3</dd>
		<dt>Created</dt>
		<dd>2013</dd>
		</dl>
		</a>
	</figure>
	<figure class="d3">
		<a href="#">
		<img src="img/termite.png" alt="" />
		<dl>
		<dt>Termite UI</dt>
		<dd>interface and visualization to support interactive topic modeling</dd>
		<dt>Technologies<dt>
		<dd>d3, javascript, html5, css3</dd>
		<dt>Created</dt>
		<dd>2014</dd>
		</dl>
		</a>
	</figure>
	<figure>
		<a href="samples/racemap/index.html">
		<img src="img/race-map.png" alt="" />
		<dl>
			<dt>Race Map</dt>
			<dd>visualization of road race metadata</dd>
			<dt>Technologies<dt>
			<dd>leaflet, javascript, html5, css3</dd>
					<dt>Created</dt>
		<dd>2014</dd>
		</dl>
	</a>
	</figure> 
	<figure class="d3">
		<a href-"#">
		<img src="img/flow_sandy_stop1.png">
		<dl>
		<dt>TopicFlow</dt>
		<dd>user interface and data visualization for exploring the evolution of topics in text</dd>
		<dt>Technologies<dt>
		<dd>d3, javascript, html, css</dd>
		<dt>Created</dt>
		<dd>2012</dd>
		<dt>Collaborators</dt>
		<dd>Sana Malik & Ben Shneiderman</dd>
		</dl>
		</a>
	</figure>
		<figure class="d3 leaflet">
		<a href="#">
		<img src="img/chart.png" alt="" />
		<dl>
			<dt>CHART</dt>
			<dd>user interface with coordinated views for exploring text data by metadata and discovered information, such as topic, time, and location</dd>
			<dt>Technologies<dt>
			<dd>d3, leaflet, javascript, html, css</dd>
			<dt>Created</dt>
			<dd>2013</dd>
			<dt>Collaborators</dt>
			<dd>Ryan Fetz</dd>
			<dt>&#169 DECISIVE ANALYTICS Corporation</dt>
		</dl>
	</a>
</figure>
		<figure class="d3">
		<a href="#">
		<img src="img/recursiviz1.png" alt="" />
		<dl>
			<dt>HLDA</dt>
			<dd>data visualization of the results of hierarchical topic modeling</dd>
			<dt>Technologies<dt>
			<dd>d3, javascript, html, css</dd>
			<dt>Created</dt>
			<dd>2011</dd>
			<dt>&#169 DECISIVE ANALYTICS Corporation</dt>
		</dl>
	</a>
	</figure>
		<figure class="d3">
		<a href="#">
		<img src="img/scribe3.png" alt="" />
		<dl>
			<dt>SCRIBE</dt>
			<dd>user interface and data visualization for exploring events automatically discovered from unstructured text</dd>
			<dt>Technologies<dt>
			<dd>d3, GWT</dd>
			<dt>Created</dt>
			<dd>2011</dd>
			<dt>&#169 DECISIVE ANALYTICS Corporation</dt>
		</dl>
	</a>
	</figure>
<!--		<figure>
		<a href="#">
		<img src="img/sjf1.jpg" alt="" />
		<dl>
			<dt>Social Jellyfish</dt>
			<dd>prototype interface for a social media monitoring tool</dd>
					<dt>Created</dt>
		<dd>2010</dd>
		</dl>
	</a>
	</figure> -->

	</figure>
		<figure>
		<a href="#">
		<img src="" alt="" />
		<dl>
			<dt>CAKE</dt>
			<dd>generic interface to a variety of underlying machine learning algorithms and their results</dd>
			<dt>Technologies<dt>
			<dd>d3, angular, javscript, html5, css3</dd>
			<dt>Created</dt>
			<dd>2014</dd>
			<dt>Collaborators</dt>
			<dd>Jonathan Wonders & Thad Goodwyn</dd>
			<dt>&#169 DECISIVE ANALYTICS Corporation</dt>
		</dl>
	</a>
	</figure>
</div>