$body-text: 'CakeLato', Helvetica, Arial, sans-serif;

// Colors courtesty of Flat UI
$silver: #BDC3C7;
$clouds: #ECF0F1;

$concrete: #95A5A6;
$asbestos: #7F8C8D;

$turquoise: #1ABC9C;
$greensea: #16A085;

$emerald: #2ECC71;
$nephritis: #27AE60;

$wetasphalt: #34495E;
$midnightblue: #2C3E50;

$belizehole: #2980B9;
$peterriver: #3498DB;

$amethyst: #9B59B6;
$wisteria: #8E44AD;

$carrot: #E67E22;
$pumpkin: #D35400;

$alizarin: #E74C3C;
$pomegranate: #C0392B;


* {
	box-sizing: border-box;
}

body {
	font-size: 80%;
	font-family: $body-text;
	color: $turquoise;
}

.header {
	font: {
		weight: 300;
		size: 2em;
	}
	margin-left: 10px;
	.light {
		text-transform: lowercase;
		font-size: 1em;
	}
}

// Soften the background map
.leaflet-tile-pane {
	opacity: 0.4;
}

#map {
	background-color:white;
	height:1000px;
	width:1000px;
}

path {
	stroke: $emerald;
	stroke-width: 1px;
	//stroke: $asbestos;
}

//
// RACE NODE GRAPH
//
.node {
	&.bunion {
		.circle {
			fill: $pumpkin;
		}
	}
	&.snowball {
		.circle {
			fill: $belizehole;
		}
	}
	&.dcrr {
		.circle {
			fill: $turquoise;
		}
	}
	&.contract { 
		.circle {
			fill: $wisteria;
		}
	}
}

.circle {
  opacity: 0.2;
  stroke-width: 4px;
}


.name {
	fill: $wetasphalt;
}