* {
  box-sizing: border-box; }

body {
  font-size: 80%;
  font-family: "CakeLato", Helvetica, Arial, sans-serif;
  color: #1abc9c; }

.header {
  font-weight: 300;
  font-size: 2em;
  margin-left: 10px; }
  .header .light {
    text-transform: lowercase;
    font-size: 1em; }

.leaflet-tile-pane {
  opacity: 0.4; }

#map {
  background-color: white;
  height: 1000px;
  width: 1000px; }

path {
  stroke: #2ecc71;
  stroke-width: 1px; }

.node.bunion .circle {
  fill: #d35400; }
.node.snowball .circle {
  fill: #2980b9; }
.node.dcrr .circle {
  fill: #1abc9c; }
.node.contract .circle {
  fill: #8e44ad; }

.circle {
  opacity: 0.2;
  stroke-width: 4px; }

.name {
  fill: #34495e; }
